<div class="container">
  @if(errorMessage!=''){
  <span class="alert alert-danger">{{ errorMessage }}</span>
  }
  <form class="date-container" [formGroup]="dayForm">
    <input
      type="date"
      #date
      min="2024-01-1"
      max="2024-01-31"
      formControlName="day"
      class="eventDate"
      placeholder="Add the Event"
    />
    <button class="btn primary-button" (click)="onChangeEventForDay()">
      Add Event
    </button>
    <!-- onfocus="(this.type='date')"
        onblur="(this.type='text')" -->
    <div class="filter-input-group">
      <input
        type="date"
        #startDate
        min="2024-01-1"
        max="2024-01-31"
        formControlName="startDate"
        placeholder="Enter the start date"
      />

      <input
        type="date"
        #endDate
        min="2024-01-1"
        max="2024-01-31"
        formControlName="endDate"
        placeholder="Enter the end date"
      />
      <button class="btn secondary-button" (click)="filterData()">
        Filter Events
      </button>
    </div>
  </form>
  <div class="table-container">
    <table heatMapTable>
      <tr class="months-row">
        @for(month of monthsList;track month){
        <th [heatMapColumn]="options.events" id="events">{{ month }}</th>
        <!-- <th [heatMapColumn]="options.events" id="events"></th> -->

        }
      </tr>
      <div class="events-row">
        <ng-container *ngFor="let item of data">
          <td [heatMapCell]="item.events" id="events"></td>
          <span class="tooltip"
            >{{ item.months }},{{ item.day }} - {{ item.events }} event(s)</span
          >
        </ng-container>
      </div>
    </table>
  </div>
</div>
