/* You can add global styles to this file, and also import other style files */
:root{
    --background-color:rgb(13,16,21);
}
body{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    background-color: var(--background-color)
}